{% extends 'layout/member-base.html' %}

{% block content %}

  <div class="w-[40%] shadow-md sm:rounded-lg">
    <h1 class="text-md font-semibold bg-gray-800 text-white p-2 sm:rounded-t-lg">Change Password</h1>
    <form class="space-y-3 pb-2 px-3" method="POST">
      {{form.hidden_tag()}}
      {% include 'partials/alert.html' %}
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Current Password</label>
        </div>
        <div class="mt-2">
          {{form.current_pass(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none placeholder:text-gray-400 px-2 sm:text-sm sm:leading-6")}}
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
        </div>
        <div class="mt-2">
          {{form.new_pass(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none placeholder:text-gray-400 px-2 sm:text-sm sm:leading-6")}}
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
        </div>
        <div class="mt-2">
          {{form.confirm_pass(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none placeholder:text-gray-400 px-2 sm:text-sm sm:leading-6")}}
        </div>
      </div>
      <div>
        {{form.submit(class_="bg-gray-800 hover:bg-gray-600 cursor-pointer flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600")}}
      </div>
    </form>
  </div>
{% endblock %}