{% extends 'layout/base.html' %}

{% block content %}

<div class="container mx-auto h-[93vh]">

  <div class="flex flex-col h-[45%] items-center justify-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Online Library </h1>
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Management System </h1>
    <p class="mt-5 text-lg leading-8 text-gray-600">Discover the Best Books Around</p>
    <div class="mt-5 flex items-center justify-center gap-x-6">
      <a href="/login"
        class="rounded-md bg-gray-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get
        started</a>
    </div>
  </div>

  <div class="mt-5 px-5">
    <div class="flex justify-between">
      <h1 class="text-lg font-semibold">New Books</h1>
      <a href="{{url_for('main.book')}}" class="text-sm text-green-500 underline">View more</a>
    </div>
    <div class="mt-2 grid gap-2 sm:grid-cols-2 md:grid-cols-5 md:gap-6">
      {% for book in data %}
      <a href="{{url_for('main.single_book',id=book.id)}}" class="shadow rounded p-2 flex flex-col">
        <div class="relative">
          <img src="{{book.picture}}" class="w-full h-[280px] object-cover ">
          <p class="absolute top-1 right-0 text-[13px] px-3 py-1 rounded-3xl text-white bg-gray-800 w-fit">
            {{book.category.title}}</p>
        </div>
        <div class="mt-2">
          <h1 class="font-semibold">{{book.name}}</h1>
          <h2 class="text-sm text-gray-500">{{book.author.name}}</h2>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}