{% extends 'layout/base.html' %}

{% block content %}
<div class="grid gap-2 md:grid-cols-2 md:gap-3">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-20 w-auto" src="{{url_for('static', filename='images/logo.png')}}"
      alt="Your Company">
      <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Register a new account</h2>
    </div>
  
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" method="POST">
        {{form.hidden_tag()}}
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Firstname</label>
          <div class="mt-2">
            {{form.firstname(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 border-transparent focus:outline-none px-2 sm:text-sm sm:leading-6")}}
          </div>
        </div>
  
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Lastname</label>
          <div class="mt-2">
            {{form.lastname(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 border-transparent focus:outline-none px-2 sm:text-sm sm:leading-6")}}
          </div>
        </div>
  
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            {{form.email(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 border-transparent focus:outline-none px-2 sm:text-sm sm:leading-6")}}
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            {{form.password(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none placeholder:text-gray-400 px-2 sm:text-sm sm:leading-6")}}
          </div>
        </div>
  
        <div>
          {{form.submit(class_="bg-gray-800 hover:bg-gray-600 flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer")}}
        </div>
        <div>
          Already have an account? <a href="/login" class="text-blue-600 font-semibold">Click Here</a> to login.
        </div>
      </form>
    </div>
  </div>
  <img src="{{url_for('static', filename='images/collage.jpg')}}" class="w-full h-[93vh] hidden md:block object-cover">

  </div>


{% endblock %}